
@media only screen and (max-width: 480px) {

    // Chnage wdith on wrappper
    .wrapper{
        width:90%;
    }

  .contentContainer{
        width:90%;
    }
 
    
    .navBar {
        padding: 0;

        .wrapper {
            flex-direction: column;
            align-items: center;
    
            .menuIcon {
                align-self: flex-start;
            }
    
            & > * {
                margin: 0px;
                padding: 10px 0px;
            }
        }

        // PLSFIXTHIS: can this selector be refactored?
        .searchCart button,
        .searchCart a,
        .searchCart div {
            padding: 10px;
            margin: 0 10px;
        }

        .searchCart .searchIcon {
            margin-right: 0;
        }
    }

    
        .footerNav {
        nav{
            flex-direction:column;
            align-items:center;
        }

        ul{
            margin-bottom:20px;
            text-align:center;
            width:100%;
            
        }
    }


    


}


@media only screen and(max-width: 900px) {

    // Media queries for heaader
    header{
        margin-bottom:70px;
        flex-direction:column;
    }
   header{

   .headerImgContainer{
   
       width:100%;
   }

    .headerContent{
        width:100%;
    .contentContainer{
        width:80%;
        padding:50px 0;
        }
        }
    }

   
// Media queries for footer
    footer{
        a{
            display:inline;
        }

        .footerFlexContainer{
            flex-direction:column;
            justify-content: center;
            align-items:center;

            .footerNav{
                width:100%;
            ul{
                width:auto;
            }
               
                }

             
            }


        }

        

       
            
            
            
    

}
